{:paths ["src"]
 :deps {org.clojure/tools.deps.alpha {:mvn/version "0.12.1076"}
        ;; TODO: Migrate to clj-commons
        me.raynes/fs {:mvn/version "1.4.6"}
        com.google.cloud.tools/jib-core {:mvn/version "0.17.0"}}
 
 :aliases {:pack {:deps {io.github.juxt/pack {:local/root "."}}
                  :ns-default juxt.pack.cli.api}
           :library {:exec-args {:path "pack-library.jar"}
                     :exec-fn library}}}
